@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* new */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body{
    font-family: "Poppins", sans-serif !important;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(194, 193, 193);
    padding-top: 56px;
}
li{
    list-style-type: none !important;
}
input{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgb(239, 238, 238) !important;
    border: none !important;
}
input:focus{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgb(239, 238, 238) !important;
}
.list-group-item{
    background-color: #1a3458 !important;
    cursor: pointer;
    border:none !important;
    padding: 10px !important;
    /* color: rgb(194, 193, 193) !important; - previous */
    /* color: #6c757d !important; */
    color: rgba(255, 255, 255, .75) !important;
}
.list-group-item:hover{
    transition: .1s ease-in;
    background-color: #152a47 !important;
    cursor: pointer;
    color: #476987 !important;
}
/* placeholder */
/* For most browsers */
::placeholder {
    color: rgb(129, 129, 129) !important; /* Change to your desired color */
    opacity: 1; /* Change to your desired opacity */
    font-size: 12px; /* Change to your desired font size */
  }

  /* For Mozilla Firefox */
  :-moz-placeholder {
    color: rgb(129, 129, 129) !important;
    opacity: 1;
    font-size: 12px;
  }
  ::placeholder {
    color: rgb(129, 129, 129) !important;
    font-size: 12px;
    opacity: 1; /* Firefox */
  }

  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(172, 171, 171) !important;
  }

  /* For Microsoft Edge */
  ::placeholder-shown {
    color: #aaa;
    opacity: 1;
    font-style: italic;
    font-size: 14px;
  }

/* custom styles */
.small{
    font-size: 12px;
}
.slate
{
    color: rgb(239, 238, 238) !important;
    font-weight: 500 !important;
}
.slate-light{
    color: rgb(194, 193, 193);
    font-weight: 400;
}
a{
    text-decoration: none !important;
}
div .bg-transparent{
    background: rgba(0, 0, 0, 0.3) !important;
    padding: 10px 10px;
    border-radius: 5px;
    margin:10px 0;
}
/* media queries */
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
.nav-scroller{
    background-color: #1a3458;
}
.nav-scroller .nav {
    color: rgb(196, 193, 193);
}
.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}
.nav-scroller .nav-link:hover {
  color: rgba(255, 255, 255, .75);
}
.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}
.bg-purple {
  background-color: #6f42c1;
}
/* navigation style */
.nav-bg,
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.3) !important;
    /* background-color: #2b415e; */
    /* #2b415e; - lighter color */
    /* #263b56; - Darker color */
}
.dropdown-menu{
    background-color: #263b56 !important;
    font-size: 14px !important;
}
.dropdown-menu .dropdown-item:hover{
    background: #1a3458;
    color: rgba(255, 255, 255, .75);
    transition: .01s ease-in;
}
.navbar a,
.dropdown-toggle{
    color: rgba(255, 255, 255, .75);

}
/* nav scroller */
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
